body{
    background-color: black;
    background-image: url(../img/backdrop.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
*{  
    color: white;
    
}
a:hover{
    color: yellow;

}

