*{
    color: white;
}
body{
    background-color: black;
    font-family: "Libre Baskerville";
}
a:hover{
    color: yellow;
}
#pro, #pro li, #pro li em, #pro-label{
    color: yellow;
}
dt{
    color: red
}
h1{
    background-color: orange;
}
header.primary{
    text-align: center;
}

